      
  .fb {
    touch-action: manipulation; 
    cursor: pointer; 
    border: 1px solid rgb(66, 103, 178); 
    border-radius: 4px; 
    font-weight: 600; 
    white-space: nowrap; 
    user-select: none; 
    -webkit-font-smoothing: antialiased; 
    background-image: none; 
    display: block; 
    align-items: center; 
    padding-left: 24px; 
    padding-right: 24px; 
    font-size: 18px; 
    height: 48px; 
    background-color: rgb(66, 103, 178); 
    color: rgb(255, 255, 255); 
    justify-content: center; 
    margin: auto;
    width: 20%; 
    position: relative; 
    opacity: 0.8;
  }


